.nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: azure;

}
.nav ul{
    display: inline-flex;
    list-style: none;
    padding: 10px;
 
}
.nav ul li{
    padding-right: 30px;
   
}

